html {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.gradient {
  background: url("../img/noise_transparent2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header {
  margin-bottom: 70px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}
.header__top .top-logo__title {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  color: #f1cdb3;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.header__top .top-logo__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.header__top .navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
}
.header__top .navigation__list .navigation__item + .navigation__item {
  margin-left: 35px;
}
.header__top .navigation__list .navigation__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  padding-bottom: 4px;
}
.header__top .navigation__list .navigation__link:hover {
  color: #fafafa;
}
.header__top .navigation__list .navigation__link_active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.banner {
  margin-bottom: 80px;
}
.banner .banner__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner .banner__inner .banner__left {
  margin-right: 42px;
  padding-top: 160px;
  flex-basis: 460px;
}
.banner .banner__inner .banner__left .banner__title {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}
.banner .banner__inner .banner__left .banner__text {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}
.banner .banner__inner .banner__left .banner__link {
  background-color: #f1cdb3;
  display: inline-block;
  color: #292929;
  padding-right: 45px;
  padding-left: 45px;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  line-height: 52px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #F1CDB3;
  white-space: nowrap;
}
.banner .banner__inner .banner__left .banner__link:hover {
  background: #FDDCC4;
  border: 1px solid #FDDCC4;
}
.banner .banner__inner .banner__right .banner__img {
  width: 100%;
  object-fit: cover;
}

.about {
  margin-bottom: 115px;
}
.about .about__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about .about__inner .about__left {
  margin-right: 130px;
}
.about .about__inner .about__left .img {
  width: 100%;
}
.about .about__inner .about__right {
  flex-basis: 430px;
  padding-top: 15px;
}
.about .about__inner .about__right .about__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.about .about__inner .about__right .about__text {
  margin: 0;
  padding: 0;
  text-align: justify;
  color: #4c4c4c;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.about .about__inner .about__right .about__text + .about__text {
  margin-top: 25px;
}

.pets {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px;
}
.pets__title {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets__inner .slider {
  position: relative;
  padding-left: 52px;
  padding-right: 52px;
}
.pets__inner .slider .slider__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.pets__inner .slider .slider__list .slider__item {
  width: 270px;
  height: 435px;
  text-align: center;
  background: #fafafa;
  border-radius: 9px;
}
.pets__inner .slider .slider__list .slider__item:hover {
  background: #ffffff;
}
.pets__inner .slider .slider__list .slider__item img {
  margin-bottom: 30px;
}
.pets__inner .slider .slider__list .slider__item .slider__text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets__inner .slider .slider__list .slider__item .slider__link {
  background-color: transparent;
  display: inline-block;
  color: #292929;
  padding-right: 45px;
  padding-left: 45px;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  line-height: 52px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #F1CDB3;
  white-space: nowrap;
}
.pets__inner .slider .slider__list .slider__item .slider__link:hover {
  background: #FDDCC4;
  border: 1px solid #FDDCC4;
}
.pets__inner .slider .slider__arrow {
  position: absolute;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.pets__inner .slider .slider__arrow:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}
.pets__inner .slider .slider__arrow::after {
  content: " ";
  display: block;
  background-image: url("../img/slider-arrow.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 6px;
  margin: 0 auto;
}
.pets__inner .slider .slider__arrow_left {
  left: 0;
  top: 50%;
  margin-top: -26px;
}
.pets__inner .slider .slider__arrow_right {
  transform: rotate(180deg);
  right: 0;
  top: 50%;
  margin-top: -26px;
}
.pets__footer {
  text-align: center;
}
.pets__footer .pets__button {
  background: #f1cdb3;
  display: inline-block;
  color: #292929;
  padding-right: 45px;
  padding-left: 45px;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  line-height: 52px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #F1CDB3;
  white-space: nowrap;
}
.pets__footer .pets__button:hover {
  background: #FDDCC4;
  border: 1px solid #FDDCC4;
}

.help {
  padding-top: 80px;
  padding-bottom: 100px;
}
.help__title {
  max-width: 310px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.help__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.help__list .help__item {
  flex-basis: 240px;
  margin-top: 60px;
}
.help__list .help__item .help__img {
  margin: 0 auto;
  margin-bottom: 30px;
}
.help__list .help__item .help__text {
  padding: 0;
  margin: 0;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.donation {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 101px;
}
.donation .donation__inner {
  max-width: 915px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.donation .donation__inner .donation__left {
  margin-right: 30px;
}
.donation .donation__inner .donation__right .donation__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation .donation__inner .donation__right .donation__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Georgia", sans-serif;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation .donation__inner .donation__right .donation__craditcard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  border-radius: 9px;
  text-decoration: none;
  margin-bottom: 20px;
}
.donation .donation__inner .donation__right .donation__craditcard:hover {
  background: #fddcc4;
}
.donation .donation__inner .donation__right .donation__craditcard .donation__number {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  padding: 0;
}
.donation .donation__inner .donation__right .donation__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.footer {
  padding-top: 40px;
}
.footer .footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer .footer__inner .footer__connection {
  width: 300px;
  padding-bottom: 60px;
}
.footer .footer__inner .footer__connection .connection__title {
  margin: 0;
  padding: 0;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  color: #ffffff;
}
.footer .footer__inner .footer__connection .connection__list {
  padding: 0;
  margin: 0;
}
.footer .footer__inner .footer__connection .connection__list .connection__item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-top: 40px;
}
.footer .footer__inner .footer__connection .connection__list .connection__item .connection__text {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding: 0;
  margin: 0;
}
.footer .footer__inner .footer__address {
  padding-bottom: 60px;
  width: 305px;
}
.footer .footer__inner .footer__address .address__title {
  padding: 0;
  margin: 0;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  color: #ffffff;
}
.footer .footer__inner .footer__address .address__list {
  padding: 0;
  margin: 0;
}
.footer .footer__inner .footer__address .address__list .address__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-top: 35px;
}
.footer .footer__inner .footer__address .address__list .address__item .address__text {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding: 0;
  margin: 0;
}
.footer .footer__inner .footer__img img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
