@mixin button() {
    display: inline-block;
    color: #292929;
    padding-right: 45px;
    padding-left: 45px;
    font-family: "Georgia", sans-serif;
    font-size: 17px;
    line-height: 52px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #F1CDB3;
  }