@mixin button {
    display: inline-block;
    color: #292929;
    padding-right: 45px;
    padding-left: 45px;
    font-family: "Georgia", sans-serif;
    font-size: 17px;
    line-height: 52px;
    letter-spacing: 0.06em;
    font-weight: 400;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #F1CDB3;
    white-space: nowrap;

    &:hover {
      background: #FDDCC4;
      border: 1px solid #FDDCC4;
    }
  }

@mixin pagination {
  position: relative;
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  outline: none;

  &:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}

@mixin disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  pointer-events: none;
}