.header__pets {
  padding-bottom: 30px;
  background: #FFFFFF;

  .header__top {
    padding-top: 30px;

    .top-logo__title {
      color: #545454;
    }

    .top-logo__subtitle {
      color: #292929;
    }

    .navigation__list {

      .navigation__link {
        color: #545454;


        &:hover {
          color: #292929;
        }

        &_active {
          color: #545454;
          border-bottom: 3px solid #F1CDB3;
        }
      }
    }
  }
}

.catalog {
  background: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 100px;

    &__title {
      width: 400px;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 15px;
      @include title;
    }

  .catalog__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;

    .catalog__item {
      width: 270px;
      height: 435px;
      text-align: center;
      background: #fafafa;
      border-radius: 9px;
      margin-top: 30px;

      &:hover {
        background: #ffffff;
      }

      img {
        margin-bottom: 30px;
      }

      .catalog__text {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        @include item-text;
      }

      .catalog__link {
        background-color: transparent;
        @include button;
      }
    }
  }

  &__pagination {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .catalog__doublearrow_left {
      @include pagination;

      &::after {
        content: "<<";
        position: absolute;
        top: 11px;
        left: 10px;
      }
    }

    .catalog__doublearrow_left_disabled {
      @include disabled;
    }

    .catalog__arrow_left  {
      @include pagination;

      &::after {
        content: "<";
        position: absolute;
        top: 11px;
        left: 16px;
      }
    }

    .catalog__arrow_left_disabled {
      @include disabled;
    }
  }

  .catalog__number {
    @include pagination;

    &::after {
      content: "1";
      position: absolute;
      bottom: 15px;
      right: 19px;
    }
  }

  .catalog__number_active {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
  }

  .catalog__doublearrow_right {
    @include pagination;

    &::after {
      content: ">>";
        position: absolute;
        top: 11px;
        left: 12px;
    }
  }

  .catalog__arrow_right {
    @include pagination;

    &::after {
      content: ">";
      position: absolute;
      top: 11px;
      left: 19px;
    }
  }

}